@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

.container{
  margin: 0px 80px;
}

.textColor {
  color: #bdbdbd;
}

.gray-line {
  width: 33.82px;
  height: 0px;
  border: 1px solid #e0e0e0;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 13);
}

.MainFocusNumbers {
  color: #f2f2f2;
  font-size: 120px;
  line-height: 100px;
}

.contactForm input, textarea{
  background-color: #f3f3f3;
  color: #bdbdbd;
  padding: 10px 20px;
  width: 400px;
}

.footerColor{
  color: #C8C8C880;
}
